.ScorePopup {
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  transition: .2s ease-in-out;

  &.active {
    z-index: 100;
    opacity: 1;
  }

  &__container {
    content: "";
    margin: auto;
    width: 495px;
    height: 229px;
    display: flex;
    flex-direction: column;
    background: #202020;
    box-shadow: 0 0 18px rgba(0, 0, 0, .54);
    border-radius: 34px;

    &__title {
      margin: 34px auto 0;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      text-align: center;

      color: #C5C5C5;
    }

    &__score {
      margin: 10px auto 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 17px;
      text-align: center;

      color: #959595;
    }

    &__buttons {
      margin: 55px auto 0;
      width: 100%;
      max-width: 244px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        width: 110px;
        height: 34px;
        background: #333333;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #D5D5D5;
        outline: none;
        border: none;

        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}